.Header {
    padding: 20px;
    text-align: right;
    background: #6976d9;
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
    min-width: 520px;
    
  }

.text-link {
    text-decoration: inherit;
    font-weight: bold;
    padding: 8px;
    margin:10px;
    border-radius: 15px;
    border: 2px solid #5c65b6;
    background-color:#5c65b6;
    color: white;
}

.text-link:hover {
    background-color: #4f579b;
}