.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #6976d9;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

td:nth-child(1) {
    width: 300px;
    max-width: 300px;
    overflow:hidden;
}
  
td:nth-child(2) {
    width: 100px;
}
  
td:nth-child(3) {
    width: 100px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #6976d9;
}

.search{
    margin: auto;
    margin-bottom:20px;
}
.filter,label,select{
    display:inline-block;
}
.filter{
    width:120px;
    margin-right:10px;
    margin-left:5px;
}

select{
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
   float:right;
}

.List{ 
    margin: auto;
    width:600px;
}